<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <style>
        .image-thumbail {
            height: 200px;
            object-fit: cover;
        }

        .list-group-item a {
            text-decoration: none;
            color: black;
        }
    </style>
</head>

<body class="m-5">

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% if request.user.is_officer %}
                
                <div class="card">
                    <div class="card-header">
                        Hello {{request.user}}
                    </div>
                    


                        <a href="{% url 'add' %}" class="btn btn-dark btn-block btn-sm m-1">Add Photo</a>

                        <a href="{% url 'addCase' %}" class="btn btn-dark btn-block btn-sm m-1">Add Case</a>

                        <a href="{% url 'witnessList' %}" class="btn btn-dark btn-block btn-sm m-1">Witness List</a>

                        <a href="{% url 'lineUp' %}" class="btn btn-dark btn-block btn-sm m-1"> LineUp</a>

                        <a href="{% url 'witness_register' %}" class="btn btn-dark btn-block btn-sm m-1"> Create Witness</a>
                        
                        <a href="{% url 'submittedPhoto' %}" class="btn btn-dark btn-block btn-sm m-1"> Submitted </a>
    
                        <a href="{% url 'logout' %}" class="btn btn-dark btn-block btn-sm m-1">Logout</a>
                    </ul>
                </div>

            </div>
            <div class="col-md-9">
                <div class="row">
                    <form method=POST action="{% url 'search_photo' %}">
                            {% csrf_token %}

                            <div class="form-group m-3">
                                <label>Haircolor</label>
                                <select name="haircolor">
                                    <option value="Black">Black</option>
                                    <option value="Blonde">Blonde</option>
                                    <option value="Brown">Brown</option>
                                    <option value="Red">Red</option>
                                </select>
                            
                                <label>Hairtype</label>
                                <select name="hairtype">
                                    <option value="Black">Black</option>
                                    <option value="Blonde">Blonde</option>
                                    <option value="Brown">Brown</option>
                                    <option value="Red">Red</option>
                                </select>
                    
                                <label>Eyecolor</label>
                                <select name="eyecolor">
                                    <option value="Black">Black</option>
                                    <option value="Blonde">Blonde</option>
                                    <option value="Brown">Brown</option>
                                    <option value="Red">Red</option>
                                </select>
                            </div>

                            <div class="form-group m-3">
                                <label>Scar</label>
                                <input type="radio" name="scars" value="Yes" class=>Yes
                                   <input type="radio" name="scars" value="No" >No
            
                                <label>Glasses</label>
                                <input type="radio" name="glasses" value="Yes" class=>Yes
                                   <input type="radio" name="glasses" value="No" >No
                                
                            </div>
                            <button class="btn btn-outline-secondary" type="submit">Filter</button>
                        </form>

                    {% for photo in photos %}
                    <div class="col-md-4">
                        <div class="card my-2">
                            <img class="image-thumbail" src="{{photo.image.url}}" alt="Card image cap">

                            <div class="card-body">
                                <small></small>
                            </div>
                            <a href="{% url 'photo' photo.id %}" class="btn btn-outline-dark btn-sm m-1">View</a>
                        </div>
                    </div>
                    {% empty %}
                    <h3>No photos...</h3>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

                {% else %}
                <p>Hello please login</p>
                <nav>
                    <a href="{% url 'login'%}" class="btn btn-dark btn-block btn-sm m-1">login</a>
                    <a href="{% url 'witness_view'%}" class="btn btn-dark btn-block btn-sm m-1">Begin</a>
                    
                </nav>
                {% endif %}
</body>

</html>